<h1>Some Article</h1>
<p>
    By <span data-bind="text: authorName"></span>
    (<a data-bind="attr: { href: twitterUrl}, text: twitterAlias"></a>)
</p>
<p>
    Author Name: <input type="text" data-bind="textInput: authorName" />
</p>
<p>
    <button data-bind="click: capitalizeTwitterAlias">Capitalize</button>
</p>

<p>
    <button data-bind="click: addResult">Add New Result</button>
</p>

<div data-bind="visible: customerValue > 100"></div>

<h1>Record <span data-bind="text: displayRecord"></span></h1>

<h1>Record</h1>
<table>
    <thead>
        <tr>
            <th>Opponent</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: gameResults">
    <tbody data-bind="foreach: gameResults">
        <tr>
            <td><input type="text" data-bind="textInput: opponent" /></td>
            <td>
                <select data-bind="options: $root.resultChoices,
                        value:result, optionsText: $data"></select>
            </td>
        </tr>
    </tbody>
</table>
